.main-parallax {
  width: 100%;
  height: auto;
  background-image: url("../img/fundos/sushi-home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main-introducao {
  padding-top: 120px;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.main-introducao h1 {
  max-width: 18ch;
  margin-bottom: 16px;
}

.main-introducao p {
  max-width: 44ch;
  margin-bottom: 32px;
}

@media (max-width: 800px) {
  .main-parallax {
    background: linear-gradient(var(--cor-11) 70%, var(--cor-10));
  }
  .main-introducao {
    padding-top: 60px;
  }
}
