.reserva {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
}

.reserva-conteudo {
  background: var(--cor-11);
  padding: 120px 80px 120px 80px;
}
.reserva-conteudo h1 {
  margin-bottom: 32px;
}

.reserva-conteudo p {
  max-width: 38ch;
  margin-bottom: 16px;
}

.reserva-conteudo ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 32px;
}

.reserva-conteudo li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.reserva-conteudo li img {
  margin-right: 8px;
}

.reserva-conteudo a {
  place-self: start;
}

.reserva-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1400px) and (min-width: 1200px) {
  .reserva-conteudo {
    background: var(--cor-11) url("../img/enfeites/sushi-enfeite2.png")
      no-repeat top -190px left 30px;
  }
}

@media (max-width: 950px) {
  .reserva {
    grid-template-columns: 1fr;
  }
  .reserva-conteudo {
    order: 2;
    padding: 60px 20px 60px 20px;
  }
  .reserva-conteudo p {
    max-width: 50ch;
  }
  .reserva-img img {
    max-height: 250px;
  }
}

@media (max-width: 600px) {
  .reserva-conteudo h1 {
    margin-bottom: 16px;
  }
  .reserva-conteudo p {
    margin-bottom: 32px;
  }
  .reserva-conteudo li {
    flex-direction: column;
    align-items: start;
  }
  .reserva-conteudo img {
    width: 24px;
    height: 24px;
    margin-bottom: 4px;
  }
  .reserva-img img {
    max-height: 150px;
  }
}
